<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.cp.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <display-name>superM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreerArticleServlet</display-name>
    <servlet-name>CreerArticleServlet</servlet-name>
    <servlet-class>com.cp.CreerArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerArticleServlet</servlet-name>
    <url-pattern>/CreerArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierArticleServlet</display-name>
    <servlet-name>ModifierArticleServlet</servlet-name>
    <servlet-class>com.cp.ModifierArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierArticleServlet</servlet-name>
    <url-pattern>/ModifierArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerArticleServlet</display-name>
    <servlet-name>SupprimerArticleServlet</servlet-name>
    <servlet-class>com.cp.SupprimerArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerArticleServlet</servlet-name>
    <url-pattern>/SupprimerArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>com.cp.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/AuthentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>com.cp.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierServlet</display-name>
    <servlet-name>PanierServlet</servlet-name>
    <servlet-class>com.cp.PanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierServlet</servlet-name>
    <url-pattern>/PanierServlet</url-pattern>
  </servlet-mapping>
</web-app>