<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>firstProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TroisiemeServlet</display-name>
    <servlet-name>TroisiemeServlet</servlet-name>
    <servlet-class>com.example.TroisiemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TroisiemeServlet</servlet-name>
    <url-pattern>/TroisiemeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.example.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/DispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet005</display-name>
    <servlet-name>Servlet005</servlet-name>
    <servlet-class>com.example.Servlet005</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet005</servlet-name>
    <url-pattern>/Servlet005</url-pattern>
  </servlet-mapping>
</web-app>